# Course Data

## DVD Rental Database

Here's how to configure the DVD rental database for use in class.

* Download the dataset from http://www.postgresqltutorial.com/load-postgresql-sample-database/

* Unzip the data file.

In [ ]:
!unzip dvdrental.zip

* Create the database in Postgres and restore it from the tarball.

In [ ]:
!createdb --owner=tom dvdrental
!pg_restore -d dvdrental dvdrental.tar

* Create a read-only user (e.g., for student access)

In [ ]:
!createuser readonly

* Grant the `readonly` user permission to read the `dvdrental` database.

In [ ]:
!psql dvdrental --command="GRANT SELECT ON ALL TABLES IN SCHEMA public TO readonly"

* Make a query as the `readonly` user.

In [4]:
!psql --user=readonly dvdrental --command="SELECT * FROM actor LIMIT 10"

 actor_id | first_name |  last_name   |      last_update
----------+------------+--------------+------------------------
        1 | Penelope   | Guiness      | 2013-05-26 14:47:57.62
        2 | Nick       | Wahlberg     | 2013-05-26 14:47:57.62
        3 | Ed         | Chase        | 2013-05-26 14:47:57.62
        4 | Jennifer   | Davis        | 2013-05-26 14:47:57.62
        5 | Johnny     | Lollobrigida | 2013-05-26 14:47:57.62
        6 | Bette      | Nicholson    | 2013-05-26 14:47:57.62
        7 | Grace      | Mostel       | 2013-05-26 14:47:57.62
        8 | Matthew    | Johansson    | 2013-05-26 14:47:57.62
        9 | Joe        | Swank        | 2013-05-26 14:47:57.62
       10 | Christian  | Gable        | 2013-05-26 14:47:57.62
(10 rows)